<h1>Listing shops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tel</th>
    <th>Category</th>
    <th>Tabelog</th>
    <th>Business hours</th>
    <th>Holiday</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Score</th>
    <th>Tabelog url</th>
    <th>Tabelog mobile url</th>
    <th>Station</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.name %></td>
    <td><%= shop.address %></td>
    <td><%= shop.tel %></td>
    <td><%= shop.category %></td>
    <td><%= shop.tabelog_id %></td>
    <td><%= shop.business_hours %></td>
    <td><%= shop.holiday %></td>
    <td><%= shop.latitude %></td>
    <td><%= shop.longitude %></td>
    <td><%= shop.score %></td>
    <td><%= shop.tabelog_url %></td>
    <td><%= shop.tabelog_mobile_url %></td>
    <td><%= shop.station %></td>
    <td><%= shop.memo %></td>
    <td><%= link_to 'Show', shop %></td>
    <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
    <td><%= link_to 'Destroy', shop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop', new_shop_path %>
