<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @shop.tel %>
</p>

<p>
  <b>Category:</b>
  <%= @shop.category %>
</p>

<p>
  <b>Tabelog:</b>
  <%= @shop.tabelog_id %>
</p>

<p>
  <b>Business hours:</b>
  <%= @shop.business_hours %>
</p>

<p>
  <b>Holiday:</b>
  <%= @shop.holiday %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shop.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shop.longitude %>
</p>

<p>
  <b>Score:</b>
  <%= @shop.score %>
</p>

<p>
  <b>Tabelog url:</b>
  <%= @shop.tabelog_url %>
</p>

<p>
  <b>Tabelog mobile url:</b>
  <%= @shop.tabelog_mobile_url %>
</p>

<p>
  <b>Station:</b>
  <%= @shop.station %>
</p>

<p>
  <b>Memo:</b>
  <%= @shop.memo %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
