<h1>Listing shops_favorites</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Twitter</th>
    <th>Tabelog</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops_favorites.each do |shops_favorite| %>
  <tr>
    <td><%= shops_favorite.uuid %></td>
    <td><%= shops_favorite.twitter_id %></td>
    <td><%= shops_favorite.tabelog_id %></td>
    <td><%= shops_favorite.memo %></td>
    <td><%= link_to 'Show', shops_favorite %></td>
    <td><%= link_to 'Edit', edit_shops_favorite_path(shops_favorite) %></td>
    <td><%= link_to 'Destroy', shops_favorite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shops favorite', new_shops_favorite_path %>
